{{#enchant-chart
  width=800
  height=400
  marginTop=20
  marginRight=20
  marginBottom=50
  marginLeft=50
  as |chart|}}
  {{chart.line
    xScale=(scale-time (extent (map-by 'date' currentModel)) (array 0 chart.width))
    yScale=(scale-linear (extent (map-by 'close' currentModel)) (array chart.height 0))
    data=currentModel
    xProperty='date'
    yProperty='close'
    stroke='#779ECB'}}
  {{#chart.axis
    scale=(scale-linear (extent (map-by 'close' currentModel)) (array chart.height 0))
    ticks=yTicksCount}}
    {{enchant-text value='Close' x=-35 y=(div chart.height 2) rotate=-90}}
  {{/chart.axis}}
  {{#chart.axis
    scale=(scale-time (extent (map-by 'date' currentModel)) (array 0 chart.width))
    orient='bottom'
    tickFormat='%Y-%m-%d'
    ticks=xTicksCount}}
    {{enchant-text value='Date' x=(div chart.width 2) y=40}}
  {{/chart.axis}}
{{/enchant-chart}}

<br />
<button {{action 'setAapl'}}>AAPL</button>
<br />
<button {{action 'setGoogl'}}>GOOGL</button>
<br />
xTicksCount: {{input type="number" value=xTicksCount}}
<br />
yTicksCount: {{input type="number" value=yTicksCount}}
